<dev align=center>
  <div class="twitter-feed">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- Twitter Embed Code -->
          <a class="twitter-timeline" data-lang="en" data-width="650" data-height="850" data-dnt="true" data-chrome="transparent"
            href="https://twitter.com/mofemjoseph?ref_src=twsrc%5Etfw">Tweets by
            mofemjoseph</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          <!-- / Twitter Embed Code -->
        </div>
      </div>
    </div>
  </div>
</dev>

<style>
  .twitter-feed {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    background-color: rgb(248, 248, 248);
  }
</style>

<script>
  // Twitter Overrides -----------------------------------------------------------------------------
  $('.twitter-feed').delegate('#twitter-widget-0', 'DOMSubtreeModified propertychange', function () {
    customizeTweetMedia();
  });

  var customizeTweetMedia = function () {
    // CSS Overrides
    $('.twitter-feed').find('.twitter-timeline').contents().find('span.TweetAuthor-name').css('font-size', '14px')
    $('.twitter-feed').find('.twitter-timeline').contents().find('span.TweetAuthor-name').css('font-family', 'sans-serif')
    $('.twitter-feed').find('.twitter-timeline').contents().find('span.TweetAuthor-screenName').css('font-size', '14px');
    $('.twitter-feed').find('.twitter-timeline').contents().find('span.TweetAuthor-screenName').css('font-family', 'sans-serif');
    $('.twitter-feed').find('.twitter-timeline').contents().find('p.timeline-tweet-text').css('font-size', '14px');
    $('.twitter-feed').find('.twitter-timeline').contents().find('p.timeline-tweet-text').css('line-height', '1.4');
    $('.twitter-feed').find('.twitter-timeline').contents().find('p.timeline-tweet-text').css('font-family', 'sans-serif');
  }
</script>